.align-v-h {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background-color: #F2F2F2;
  height: 100vh;
  min-height: 500px;
}

.product {
  width: 600px;
  height: 450px;
  background-color: #FFFFFF;
  border-radius: 10px;
  align-items: flex-start;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.img-desktop {
  width: 300px;
  height: 450px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.img-mobile {
  display: none;
}

.details {
  margin: 0;
  padding: 0 32px;
  flex-direction: column;
}

.details > h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 5px;
  color: #6C7289;
  margin: 32px 0 0 0;
}

.details > h1 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #1C232B;
  margin: 20px 0 0 0;
  padding-right:10px;
}

.details > p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #6C7289;
  margin: 24px 0 0 0;
}

.price {
  justify-content: flex-start;
  margin: 29px 0 0 0;
}

.price > p:first-child {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #3D8168;
  margin: 0;
}

.price > p:nth-child(2) {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  text-decoration-line: line-through;
  color: #6C7289;
  margin: 0 0 0 19px;
}

.details > button {
  background-color: #3D8168;
  width: 246px;
  height:48px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  margin: 30px 0 0 0;
}

.details > button:hover {
  background: #1A4032;
  cursor: url("./../public/images/Pointer.png"), auto;
}

.details > button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  
}

.details > button > img {
  margin-right: 11.61px;
}

@media (max-width:800px) {

  .img-desktop {
    display: none;
  }

  .img-mobile {
    display:block;
    width: 343px;
    height: 240px;    
  }

  .App {
    min-height: 700px;
  }

  .product {
    width:343px;
    height: 611px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .details {
    padding: 0 24px;
   }

   .details > h2 {
    margin-top:24px;
   }

   .details > h1 {
    margin-top:12px;
   }

   .details > p {
    margin-top:16px;
   }

   .price {
    margin-top:24px;
   }

   .details > button {
    margin-top: 20px;
    width: 295px;
    height: 46px;
   }
}